<div class="jumbotron center">
<h1>Welcome To Finance Stock Tracking App</h1>
<h2>The best tracking Tracking app!</h2>
</div>
<div>
<p>
	<h5>
	  This site is a perfect way to track stocks worldwide. This app offers live quotes and charts for more than 100,000 different stocks on more than 70 different global exchanges. You can also view information about bonds, commodities, foreign exchanges, interest rates, futures, options, and more.
	</h5>
</p>
<p>
	<h5>
      One of the best features of the app is its comprehensive economic calendar that provides an update on  global economic events. You can then see how those will impact the markets and specific stocks.
    </h5>
</p>
<br><br>
</div>