@import 'bootstrap/dist/css/bootstrap';

.search-area{
	padding-top: 20px;
}

.no-right-padding{
	padding-right: 0 !important;
}

.no-left-padding{
	padding-left: 0 !important;
}

.result-box{
	display: inline;
	width: 150em;
}

.logout{
	margin-right: 5px;
}
.name_styling{
	padding-right: 5px;
}