@import 'bootstrap/dist/css/bootstrap';

.search-area{
	padding-top: 20px;
}

.no-right-padding{
	padding-right: 0 !important;
}

.no-left-padding{
	padding-left: 0 !important;
}

.result-box{
	display: inline;
}

.results-block {
    display: inline-block;
    margin-bottom: 1rem;
}
.logout{
	margin-right: 5px;
}
.name_styling{
	padding-right: 5px;
	color: #fff
}
 .jumbotron{
 background-image: url('welcome.jpg');
 background-size: cover;
 height: 300px
 }

  .jumbotron h1{
 text-align: center;
 margin-bottom: 30px;
 color: #fff;
 letter-spacing: -1px;
 font-weight: bold;
 }

 .jumbotron h2{
 text-align: center;
 margin-bottom: 30px;
 color: #fff;
 letter-spacing: -1px;
 font-weight: bold;
 }

 .myNavbar   {
    background-color: #056180;
 }

 .uniform_color{
 background-color: #d8e0e3;
 }
